[submodule "vim/pack/mypackages/start/vim-airline"]
	path = vim/pack/mypackages/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/mypackages/start/YouCompleteMe"]
	path = vim/pack/mypackages/start/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim/pack/mypackages/start/vim-airline-themes"]
	path = vim/pack/mypackages/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim/pack/mypackages/start/tmuxline"]
	path = vim/pack/mypackages/start/tmuxline
	url = https://github.com/edkolev/tmuxline.vim
