[submodule "vim/pack/mypackages/start/vim-scala"]
	path = vim/pack/mypackages/start/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "vim/pack/mypackages/opt/ensime-vim"]
	path = vim/pack/mypackages/opt/ensime-vim
	url = https://github.com/ensime/ensime-vim.git
[submodule "vim/pack/mypackages/opt/deoplete"]
	path = vim/pack/mypackages/opt/deoplete
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "vim/pack/mypackages/opt/nvim-yarp"]
	path = vim/pack/mypackages/opt/nvim-yarp
	url = https://github.com/roxma/nvim-yarp.git
[submodule "vim/pack/mypackages/opt/vim-hug-neovim"]
	path = vim/pack/mypackages/opt/vim-hug-neovim
	url = https://github.com/roxma/vim-hug-neovim-rpc.git
[submodule "vim/pack/mypackages/start/nerdtree"]
	path = vim/pack/mypackages/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/pack/mypackages/start/vim-solarized"]
	path = vim/pack/mypackages/start/vim-solarized
	url = https://github.com/vim-scripts/Solarized.git
[submodule "vim/pack/mypackages/start/vim-airline"]
	path = vim/pack/mypackages/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/mypackages/start/vim-tmuxline"]
	path = vim/pack/mypackages/start/vim-tmuxline
	url = https://github.com/edkolev/tmuxline.vim.git
[submodule "vim/pack/mypackages/start/vim-airline-themes"]
	path = vim/pack/mypackages/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/pack/mypackages/start/vim-gitgutter"]
	path = vim/pack/mypackages/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/pack/mypackages/start/vim-fugitive"]
	path = vim/pack/mypackages/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/mypackages/start/vim-polyglot"]
	path = vim/pack/mypackages/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "vim/pack/mypackages/start/ale"]
	path = vim/pack/mypackages/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim/pack/mypackages/start/coc"]
	path = vim/pack/mypackages/start/coc
	url = https://github.com/neoclide/coc.nvim.git
[submodule "vim/pack/mypackages/start/fzf"]
	path = vim/pack/mypackages/start/fzf
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/pack/mypackages/start/vim-gutentags"]
	path = vim/pack/mypackages/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "vim/pack/mypackages/start/black"]
	path = vim/pack/mypackages/start/black
	url = https://github.com/python/black.git
[submodule "vim/pack/mypackages/start/nvimr"]
	path = vim/pack/mypackages/start/nvimr
	url = https://github.com/jalvesaq/Nvim-R.git
