[submodule "vim/pack/mypackages/start/vim-airline"]
	path = vim/pack/mypackages/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/mypackages/opt/YouCompleteMe"]
	path = vim/pack/mypackages/opt/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim/pack/mypackages/start/vim-airline-themes"]
	path = vim/pack/mypackages/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim/pack/mypackages/start/tmuxline"]
	path = vim/pack/mypackages/start/tmuxline
	url = https://github.com/edkolev/tmuxline.vim
[submodule "vim/pack/mypackages/start/nerdtree"]
	path = vim/pack/mypackages/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/pack/mypackages/start/ale"]
	path = vim/pack/mypackages/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim/pack/mypackages/start/python-mode"]
	path = vim/pack/mypackages/start/python-mode
	url = https://github.com/python-mode/python-mode.git
[submodule "vim/pack/mypackages/opt/vim-scala"]
	path = vim/pack/mypackages/opt/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "vim/pack/mypackages/opt/ensime-vim"]
	path = vim/pack/mypackages/opt/ensime-vim
	url = https://github.com/ensime/ensime-vim.git
[submodule "vim/pack/mypackages/opt/deoplete"]
	path = vim/pack/mypackages/opt/deoplete
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "vim/pack/mypackages/start/nvim-yarp"]
	path = vim/pack/mypackages/start/nvim-yarp
	url = https://github.com/roxma/nvim-yarp.git
